<div class="main-container">
  <form [formGroup]="singleList" (ngSubmit)="onSubmit()" novalidate>
    <div class="modal-box">
      <h1 class="title">Create List</h1>
      <div class="insert-box">
        <label class="title" for="Title">Title: </label>
        <input
          matInput
          type="text"
          id="title"
          name="title"
          formControlName="title"
        />
      </div>

      <div class="btns">
        <button mat-raised-button routerLink="/">Go back</button>
        <button mat-raised-button>Create</button>
      </div>
    </div>
  </form>
</div>
