.task-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    background-color: var(--orange);
    margin: 7px 20px;
}

.task-info {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
}

.titles{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.btns{
    margin: 0 10px;
}

.title{
    margin-left: 20px;
    margin-top: 5px;
    color: var(--white);
}


.delete-btn {
    background-color: var(--red);
}

